body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display:flex;
  justify-content: center;
  background-color: rgb(121, 121, 121);
  border: solid rgb(100, 184, 223);
}

.header{
  border: solid black;
}
.title{
  border: solid rgb(0, 0, 0);
}
.main{
  border: solid black;
}
.filter-menu{
  border: solid black;

}
.display{
  border: solid black;

}
button {
  color:rgb(0, 0, 0);
  background-color: aliceblue;
  border-radius: 3px;
  margin:5px;
}