body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display:flex;
  background-color: rgb(113, 163, 255);
  width:100vw;
  height:50vw;
}

.title{
  background-color: rgb(130, 152, 212);
  text-align:center;
  width:50vw;
}
.header{
  width:50vw;
  background-color: rgba(94, 89, 89, 0.4);
}

.filter-menu{
width:90vw;}
